extends layout

block content
  div.row.main
    div.col-lg-12.col-sm-12
      div.bs-callout.bs-callout-info
        h1.light All Vendors
        ul
          each vendor in vendors
            li
              a(href='/vendor/' + vendor.folder_id) #{vendor.Name}






