extends layout

block content
  div.row.main
    div.col-lg-12.col-sm-12
      div.bs-callout.bs-callout-info
        h1.light Embed a Doc Launcher
      div.col-lg-12.col-sm-12.full-width
        iframe.document(width='100%', height='500px', src='https://na11.springcm.com/atlas/doclauncher/form/Lane Construction?aid=20873&folderPath=/PRS Demo Core/Sales/Contracts/')







