extends layout

block content
  div.row.main
    div.col-lg-12.col-sm-12
      div.bs-callout.bs-callout-info
        h1.light #{vendor_name}

        strong All agreements
        ul
          each doc in agreements
            li
              a(href=doc.PreviewUrl target='_blank') #{doc.Name}







